
= stylesheet_link_tag 'modules/post_done'
  
= render partial: "items/header"

.done
  .done__title
    登録が完了しました
  .done__backlink
    =link_to root_path, class:"link" do
      トップページへ戻る


= render partial: "items/banner"

= render partial: "items/footer"
