

= render partial: "items/header"

.item__body
  .name #{current_user.nickname}様
  .title
    出品中の商品一覧
  .item__body__lists
  
-# kaneda miki
    -# - @sale_items.each do |item|
    -#   .item__body__lists__list
    -#     = link_to item_path(item.id) do
    -#       %figure.list__img
    -#         = image_tag item.images.first.image.url
    -#       .list__body
    -#         %h3.name
    -#           = item.name
    -#         .list__price
    -#           %ul
    -#             %li
    -#               = item.exhibition_price.to_s(:delimited)
    -#               円
    -#           %p (税込)
  
= render partial: "items/banner"

= render partial: "items/footer"