
.baba{
  
  display: flex;
  justify-content: center;
  .left_baba{
    width: 20%;
    background-color: #eeeeee;
    font-weight: 400;
    padding: 8px;
    border: 1px solid #dedede;
    font-size: 14px;
    text-align: center;
  }

  .right_baba{
    width: 61%;
    padding: 8px 15px;
    border: 1px solid #dedede;
    font-size: 14px;
  }
}
