// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.body {
  display: block;
  box-sizing: border-box;
  .Header {
    padding: 0 60px;
    .Header__Inner {
      padding: 15px 0 0;
      .Header__Inner--Main {
        position: relative;
        display: flex;
        align-items: center;
        .Icon {
          margin-right: 30px;
          padding-bottom: 10px;
          font-weight: normal;
        }
        .searchBox {
          width: 100%;
          .form {
            width: 100%;
            display: flex;
            margin-bottom: 5px;
            .seach{
              width: calc(100% - 26px);
              height: 36px;
            }
            .submit{
              width: 36px;
              cursor: pointer;
              background-color: #3CCACE;
              padding: 8px;
            }
          }
        }
      }
      .Header__Inner--HeaderNavi {
        font-size: 14px;
        display: flex;
        margin-bottom: 10px;
        .listsLeft {
          display: flex;
          .listsLeft__item {
            position: relative;
            display: flex;
            padding-right: 30px;
          }
          .listsLeft__brand {
            padding: 0 0 0 16px;
          }
        }
        .listsRight {
          margin-left: auto;
          display: flex;
          .listsRight__login {
            padding: 0 0 0 16px;
          }
          .listsRight__new {
            padding: 0 0 0 16px;
          }
        }
      }
    }

  }
  .main{
    background-color: #f8f8f8;
    .topVisual{
      width: 100%;
      height: 560px;
      background-image: url("bg-mainVisual-pict_pc.jpg");
      display: flex;
      align-items: center;
      position: relative;
      background-size: cover;
      background-position: top center;
      background-position-x: center;
      background-position-y: top;
      padding: 0px 60px;
      .content{
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding-top: 35px;
        .content__title{
          font-size: 60px;
          color: #fff;
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
          line-height: 1.2;
        }
        .content__text{
          font-size: 18px;
          color: #fff;
          margin-top: 16px;
        }
        .content__btn{
          display: flex;
          margin-top: 24px;
          .btnA{
            margin-right: 10px;
            img:hover{
              cursor:pointer;
              opacity: 0.5;
            }
          }
          .btnG{
            img:hover{
              cursor:pointer;
              opacity: 0.5;
            }
          }
        }
      }
    }
    .secondVisual{
      width: 980px;
      padding: 60px 20px;
      .reason{
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 25px;
        padding-bottom: 15px;
        position: relative;
      }
      .reason:after{
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      .lists{
        text-align: center;
        display: flex;
        max-width: 1020px;
        width: 100%;
        margin: 0 auto;
        list-style: none;
        .list{
          width: 30%;
          margin: 16px 5% 0 0;
          text-align: left;
          display: flex;
          flex-direction: column;
          align-items: center;
          &__image{
            position: relative;
            margin-bottom: 20px;
            .num{
              display: inline-block;
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 4%;
              font-size: 30px;
              text-align: center;
              padding: 10px 20px;
              background-color: #3CCACE;
              color: #FFF;
            }
            img{
              width: 100%;
              vertical-align: bottom;
            }
            .list__word{
              font-weight: bold;
              font-size: 24px;
              line-height: 50px;
              margin-left: 2px;
              .reason-word{
                color: #3CCACE;
              }
            }
          }
        }
        .list__end{
          width: 30%;
          margin: 16px 5% 0 0;
          text-align: left;
          display: flex;
          flex-direction: column;
          align-items: center;
          &__image{
            position: relative;
            margin-bottom: 20px;
            .num{
              display: inline-block;
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 4%;
              font-size: 30px;
              text-align: center;
              padding: 10px 20px;
              background-color: #3CCACE;
              color: #FFF;
            }
            img{
              width: 100%;
              vertical-align: bottom;
            }
          }
        }
      }
    }
    .middleVisual{
      height: 400px;
      width: 100%;
      background-image: url("bg-topMiddleDl-pict.jpg");
      background-position: bottom right;
      background-size: cover;
      display: inline-flex;
      align-items: center;
      .middle-content{
        color: #fff;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        text-align: left;
        max-width: 1040px;
        width: 100%;
        margin: 1 auto;
        .subtitle{
          font-size: 27px;
          font-weight: bold;
          line-height: 1.4;
        }
        .middle-content__box{
          .middle-content__text{
            font-size: 18px;
            margin: 20px 0 30px;
            line-height: 1.5;
          }
        }
        .btn{
          display: flex;
          margin-top: 24px;
          .btnA{
            margin-right: 10px;
            img:hover{
              cursor:pointer;
              opacity: 0.5;
            }
          }
          .btnG{
            img:hover{
              cursor:pointer;
              opacity: 0.5;
            }
          }
        }
      }
    }
    .featuresVisual{
      padding: 60px 100px;
      background-color: #fff;
      .feauture-title{
        font-size: 27px;
        text-align: center;
        margin: 0 0 40px;
        font-weight: bold;
        margin-bottom: 25px;
        padding-bottom: 15px;
        position: relative;
      }
      .feauture-title:after{
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      .feauture-contents{
        max-width: calc(1040px + 20px);
        width: 100%;
        margin: 0 auto;
        display: flex;
        .content{
          display: flex;
          flex-direction: column;
          //width: calc(1 / 3 * 100%);
          text-align: center;
          padding: 0 20px;
          &__img{
            width: 70%;
            margin: 0 auto;
            line-height: 120px;
          }
          img{
            width: 100%;
            vertical-align: bottom;
          }
          &__top{
            margin: 38px 0 10px;
            font-size: 19px;
            font-weight: bold;
          }
          &__detail{
            margin: 0 0 40px;
            font-size: 17px;
            font-weight: 200;
            text-align: left;
          }
        }
      }
    }
    
    .pickupVisual{
      padding: 80px 0 0;
      background-color: #f8f8f8;
      height: 100%;
      .topic-category{
        text-align: center;
        font-size: 28px;
        line-height: 1.4;
        font-weight: bold;
      }  
      .category-box{
        .category-head{
          text-align: center;
          .newItem{
            font-size: 24px;
            text-decoration: none;
            color: #3CCACE;
            .title{
              font-weight: bold;
            }
          }
        }
        .category-lists{
          .category-list{
            &__image{
              img{
                height:180px;
                width:180px;
              }
            }
            &__body{
              img{
                height:180px;
                width:180px;
              }
            }
          }
        }
      }
    }
  }
}
