// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.body {
  display: block;
  box-sizing: border-box;
  .Header {
    padding: 0 60px;
    .Header__Inner {
      padding: 15px 0 0;
      .Header__Inner--Main {
        position: relative;
        display: flex;
        align-items: center;
        .Icon {
          margin-right: 30px;
          padding-bottom: 10px;
          font-weight: normal;
        }
        .searchBox {
          width: 100%;
          .form {
            width: 100%;
            display: flex;
            margin-bottom: 5px;
            .seach{
              width: calc(100% - 26px);
              height: 36px;
            }
            .submit{
              width: 36px;
              cursor: pointer;
              background-color: #3CCACE;
              padding: 8px;
            }
          }
        }
      }
      .Header__Inner--HeaderNavi {
        font-size: 14px;
        display: flex;
        margin-bottom: 10px;
        .listsLeft {
          display: flex;
          .listsLeft__item {
            position: relative;
            display: flex;
            padding-right: 30px;
          }
          .listsLeft__brand {
            padding: 0 0 0 16px;
          }
        }
        .listsRight {
          margin-left: auto;
          display: flex;
          .listsRight__login {
            padding: 0 0 0 16px;
          }
          .listsRight__new {
            padding: 0 0 0 16px;
          }
        }
      }
    }

  }
  .main{
    background-color: #f8f8f8;
    .topVisual{
      width: 100%;
      height: 560px;
      background-image: url("bg-mainVisual-pict_pc.jpg");
      display: flex;
      align-items: center;
      position: relative;
      background-size: cover;
      background-position: top center;
      background-position-x: center;
      background-position-y: top;
      padding: 0px 60px;
      .content{
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding-top: 35px;
        .content__title{
          font-size: 60px;
          color: #fff;
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
          line-height: 1.2;
        }
        .content__text{
          font-size: 18px;
          color: #fff;
          margin-top: 16px;
        }
        .content__btn{
          display: flex;
          margin-top: 24px;
          .btnA{
            margin-right: 10px;
            img:hover{
              cursor:pointer;
              opacity: 0.5;
            }
          }
          .btnG{
            img:hover{
              cursor:pointer;
              opacity: 0.5;
            }
          }
        }
      }
    }
    .secondVisual{
      width: 980px;
      height: 634px;
      padding: 60px 20px;
      .reason{
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 25px;
        padding-bottom: 15px;
        position: relative;
      }
      .reason:after{
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      .lists{
        text-align: center;
        display: flex;
        max-width: 1020px;
        width: 100%;
        margin: 0 auto;
        list-style: none;
        .list{
          width: 30%;
          margin: 16px 5% 0 0;
          text-align: left;
          display: flex;
          flex-direction: column;
          align-items: center;
          &__image{
            position: relative;
            margin-bottom: 20px;
            .num{
              display: inline-block;
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 4%;
              font-size: 30px;
              text-align: center;
              padding: 10px 20px;
              background-color: #3CCACE;
              color: #FFF;
            }
            img{
              width: 100%;
              vertical-align: bottom;
            }
            .list__word{
              font-weight: bold;
              font-size: 24px;
              line-height: 50px;
              margin-left: 2px;
              .reason-word{
                color: #3CCACE;
              }
            }
          }
        }
        .list__end{
          width: 30%;
          margin: 16px 5% 0 0;
          text-align: left;
          display: flex;
          flex-direction: column;
          align-items: center;
          &__image{
            position: relative;
            margin-bottom: 20px;
            .num{
              display: inline-block;
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 4%;
              font-size: 30px;
              text-align: center;
              padding: 10px 20px;
              background-color: #3CCACE;
              color: #FFF;
            }
            img{
              width: 100%;
              vertical-align: bottom;
            }
          }
        }
      }
    }
    .pickupVisual{
      .pickup-box{
        .category-box{
          .category-lists{
            .category-list{
              &__image{
                img{
                  height:180px;
                  width:180px;
                }
              }
              &__body{
                img{
                  height:180px;
                  width:180px;
                }
              }
            }
          }
        }
      }
    }
  }
}