* {
  font-family: 'Maven Pro', sans-serif;
  box-sizing: border-box;
}

body,html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Segoe UI';

  .header {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    padding-left: 45%;
  }
  .new_item {
    margin-top: 50px;
    margin-left:20%;
    &__name{
      margin: 7px;
      display: flex;
      &--label {
        margin: 0 5px 0 0;
      }
      &--required{
        background-color: red;
        color: white;

      }
    }

    .js-file_group {
      width: 85%;
      text-align: center;
      height: 180px;
      padding: 0.5em 1em;
      background: #f0f7ff;
      border: dashed 2px #d6d6d6;
      .js-file {
        margin-top: 50px;
        display: none;
      }
    }

    &__item_name{
      margin: 7px;
      display: flex;
      &--label {
        margin: 0 5px 0 0;
      }
      &--required {
        background-color: red;
        color: white;
      }
    }
    // &__area {

    // }
    &__introduction {
      margin: 7px;
      display: flex;
      &--label {
        margin: 0 5px 0 0;
      }
      &--required {
        background-color: red;
        color: white;
      }
    }
    // &__intro-area {

    // }


    .append__category {
      .category {
        &__lavel {
          margin: 7px;
          display: flex;
          &--name {
            margin: 0 5px 0 0;
          }
          &--required {
            background-color: red;
            color: white;
          }
        }
      }
      .serect_field {
        color: black;
      }
    }
    &__brand {
      margin: 7px;

      &--label {
        color: black;
      }
      &--area {
        color: black;
      }
    }
    &__item_condition {
      margin: 7px;
      display: flex;
      &--label {
        margin: 0 5px 0 0;
      }
      &--required {
        background-color: red;
        color: white;
      }
    }
    &__cost {
      margin: 7px;
      display: flex;
      &--label {
        margin: 0 5px 0 0;
      }
      &--required {
        background-color: red;
        color: white;
      }
    }
    &__prefecture {
      margin: 7px;
      display: flex;
      &--label {
        margin: 0 5px 0 0;
      }
      &--required {
        background-color: red;
        color: white;
      }
    }
    &__days {
      margin: 7px;
      display: flex;
      &--label {
        margin: 0 5px 0 0;
      }
      &--required {
        background-color: red;
        color: white;
      }
    }
    &__price {
      margin: 7px;
      display: flex;
      &--label {
        margin: 0 5px 0 0;
      }
      &--required {
        background-color: red;
        color: white;
      }
    }
    &__quantity {
      margin: 7px;
      display: flex;
      &--label {
        margin: 0 5px 0 0;
      }
      &--required {
        background-color: red;
        color: white;
      }
    }
    .input {
      width: 900px;
      height: 60px;
    }
    .input2 {
      width: 200px;
      height: 40px;
    }
    .serect_field {
      width: 900px;
      height: 60px;
    }
  }
  .send__sipping_btn {
    background-color: #3ccace;
    color: #FFFFFF;
    width: 360px;
    height: 48px;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid transparent;
    margin-left: 25%;
  }
}