* {
  font-family: 'Maven Pro', sans-serif;
  box-sizing: border-box;
}

body,html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Segoe UI';
}
.new-item{
  &__name{
    &__name-label{

    }
    &__name--required{

    }
  }

  &__image-box{
    .img-label{
      
    }

  }

  &__item_name{
    display: flex;
  } 
}