* {
  font-family: 'Maven Pro', sans-serif;
  box-sizing: border-box;
}

body,html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Segoe UI';
}

.new_user {
  margin-left: 25%;
}

.new_destination{
  margin-left: 25%;
}

form {
  width: 100%;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1rem;
  padding: 0.5em 0.4em;
  transition: all 0.4s;
  color: #333333;
  font-weight: bold;
}
form:focus {
  background: #3CCACE;
  transform: scale3d(1.06,1.06,1.06);
}

input {
  width: 50%;
  font-size: 1rem;
  padding: 1em 0;
  color: #333333;
  transition: all 0.6s;
}
input:hover {
  cursor:pointer;
  background: #d3d3d3;
}

.field{
  margin-bottom: 4px;
  
}
.new{
  display: flex;
  width: 50%;
  margin-bottom: 4px;

}
.tag{
  margin-left: 30px;
  border-radius: 4px;
  background-color: red;
  color: white;
  font-size: 10px;
  padding: 5px 8px 3px 8px;
}

#remember{
  width: 25%;
}


.title {
  color: #333333;
  border-bottom: solid 1px #333333;
  padding: 0 0 0.8em 0;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 1em;
  font-size: 50px;
}
select{
  cursor: pointer;
  height: 30px;
  
}
.user{
  text-align: right;
}
.login{
  text-decoration: none;
  margin-right: 60px;
  color: black;
  
}

@media (max-width: 550px) {
  .user_new {
  width: 90%;
  margin-left: 3%;
  padding-top: 5%;
}
  .field {
    font-size: 1em;
  }
}