.item__body{
  padding: 50px;
  .nickname{
    width: 190px;
    height: 60px;
    font-size:22px;
    font-weight: bold;
    text-align: center;
    color: #3ccace;
    border: solid 3px #3ccace;
    padding: 0.5em;
    border-radius: 0.5em;
    line-height: 60px;
    margin: 15px auto;
  }
  .title{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
  }
  .item__body__lists{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    .item__body__lists__list{
      width: 220px;
      display: inline-block;
      .link{
        text-decoration: none;
        color: black;
        position: relative;
        .list__img{
          .image{
            height: 180px;
            width: 180px;
          }
        }
        .list__body{
          .soldout-item{
            width: 0;
            height: 0;
            border-top: 40px solid red;
            border-right: 40px solid transparent;
            border-bottom: 40px solid transparent;
            border-left: 40px solid red;
            z-index: 100;
            position: absolute;
            top: 0px;
            left: 0px;
            &__true{
              color: #fff;
              transform: rotate(-45deg);
              font-size: 17px;
              font-family: ヒラギノ丸ゴ Pro W4;
              margin: -16px 0px 0px -32px;
              letter-spacing: 2px;
              font-weight: bold;
            }


          }  
          .name{
          }
          .list__price{
            .ul{
              .li{
              }
            }
            .tax{
              font-size: 5px;
            }
          }
        }
      }
    }
  }
}
