= render partial: "items/header"
-# = render 'header'
.done
  .done__title
    商品を出品しました
  .done__backlink
    -# %a.link
      = link_to "トップページへ戻る", root_path, class: 'link'
  .done__backlink
    %a.link
      出品した商品を確認する
  .done__backlink
    %a.link
      出品中の商品一覧を見る

-# %h2.title マイページ
-# %ul.page
-#   %li= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "page__list"
-#   %li= link_to "クレジット登録", new_card_path, class: "page__list"
-# -# = link_to "登録情報の編集", edit_user_path(current_user) 

= render partial: "banner"

= render partial: "items/footer"